<p id="notice"><%= notice %></p>

<h1 style="color:blue;margin-top:50px;">Listing Posts</h1><br>
<% @posts.each do |post| %>
    <div>
      <div style="color:blue;">Users:<%= post.user.email %></div><br>
      <div>Title:<%= post.title %></div><br>
      <div>Description:<%= post.description %></div><br>
      <div>1mage:<%= post.image %></div><br>
      <div>Status:

            <% if current_user.id==post.user.id%>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%end%>

            <% if current_user.id==post.user.id%>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
      </div><br>

    </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
